/* =============================================
=            18. Login register            =
============================================= */

/* -- Checkout Title -- */

/* -- Checkout Form -- */

/* -- Place Order -- */
.forget {
  font-size: 14px;
}

.login-title {
  font-size: 20px;
  line-height: 23px;
  text-decoration: underline;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 30px;
}

.login-form {
  background-color: #fff;
  padding: 30px;
  -webkit-box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.1);

  label {
    display: block;
    font-size: 14px;
    margin-bottom: 12px;
    font-weight: 500;
    text-transform: capitalize;
  }

  .nice-select {
    width: 100%;
    background-color: transparent;
    border: 1px solid #999;
    border-radius: 50px;
    line-height: 23px;
    padding: 10px 20px;
    font-size: 14px;
    height: 45px;
    color: #666;
    margin-bottom: 15px;

    &::after {
      width: 6px;
      height: 6px;
      border-width: 1px;
      right: 20px;
      border-color: #666;
    }

    .current {
      color: #666;
      display: block;
      line-height: 23px;
    }

    .list {
      width: 100%;
    }
  }

  input {
    width: 100%;
    background-color: transparent;
    border: 1px solid #999;
    border-radius: 50px;
    line-height: 23px;
    padding: 10px 20px;
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
  }

  input[type="checkbox"] {
    width: auto;
  }

  .check-box {
    float: left;
    margin-right: 70px;

    &:last-child {
      margin-right: 0;
    }

    input[type="checkbox"] {
      display: none;

      + {
        label {
          position: relative;
          padding-left: 30px;
          line-height: 20px;
          font-size: 14px;
          font-weight: 400;
          color: #222;
          margin: 0;

          &::before {
            position: absolute;
            left: 0;
            top: 0;
            width: 20px;
            height: 20px;
            display: block;
            border: 2px solid #999;
            content: "";
            -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
          }

          &::after {
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            font-size: 12px;
            line-height: 20px;
            opacity: 0;
            color: #222;
            width: 20px;
            text-align: center;
            -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
          }
        }
      }

      &:checked {
        + {
          label {
            &::before {
              border: 2px solid #222;
            }

            &::after {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.register-button {
  display: block;
  margin-top: 40px;
  width: 140px;
  border-radius: 50px;
  height: 36px;
  border: none;
  line-height: 24px;
  padding: 6px 20px;
  float: left;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  background-color: #80bb01;

  &:hover {
    background-color: #5d8801;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .login-form {
    padding: 15px;
  }
}
